<!--{show_header}--><?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<title>{title}</title>
<meta http-equiv="Pragma" content="no-cache" />
<link rel="stylesheet" title="Default" href="{css_file}" />
<style type="text/css">
div.thumbnail {
	float: left;
	width: {thumb_width}px;
	height: {thumb_height}px;
	padding: 3px 3px 0px 3px;
	text-align: center;
}
</style>
</head>

<body>
<!--{show_header}-->

<!--{show_error}-->
<div class="container">
  {error}
  <br /><br />
</div>
<!--{show_error}-->

<!--{show_text}-->
<div class="container">
  {header_text}
</div>
<!--{show_text}-->

<!--{show_dirs}-->
<div class="container">
  <div class="spacer"></div>
<!--{dirs}-->
  <div class="folder"><a href="{dir_link}"><img src="{folder_img}" alt="folder" /><br />{dir_desc}</a></div>
<!--{dirs}-->
  <div class="spacer"></div>
</div>
<!--{show_dirs}-->

<!--{show_images}-->
<div class="container">
  <div class="spacer"></div>
<!--{images}-->
  <div class="thumbnail">
    <div{divbit}><a href="{image_link}"><img src="{thumb_img}" {thumb_params} alt="{alt}" /></a>{extra}</div>
  </div>
<!--{images}-->
  <div class="spacer"></div>
</div>
<!--{show_images}-->

<!--{show_image}-->
<div class="container">
  <table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="300" valign="bottom" align="center">{prevlink}</td>
      <td width="100" valign="bottom" align="center"><a href="{dir_path}"><img src="{folder_img}" alt="folder" /><br />Back</a></td>
      <td width="300" valign="bottom" align="center">{nextlink}</td>
    </tr>
  </table>
</div>

<div class="container">
  <div class="image">
{extra}{this_img}
  </div>
</div>
<!--{show_image}-->

<!--{show_footer}-->
<p class="footer">Generated in {elapsed} by <a href="http://www.madcowdisease.org/index.py/GallerPy">GallerPy</a> {version}</p>
</body>

</html>
<!--{show_footer}-->
