body {
	color: #FFFFFF;
	background: #006699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 76%;
}
a, a:link, a:visited {
	color: #FFFFAA;
	background: transparent;
	text-decoration: none;
}

h2 {
	margin: 0.0em 0.0em 0.5em 0.0em;
	padding: 0;
}
img {
	border: 0;
}
p {
	margin: 0.1em 0 0.1em 0;
}
pre {
	font-size: 1.6em;
}

div.container {
	margin: 0px;
	padding: 6px 0px 0px 0px;
	border-bottom: 2px dotted #CCC;
}
div.container > table {
	padding-bottom: 5px;
}

div.spacer {
	clear: both;
}

div.folder {
	float: left;
	width: 110px;
	height: 95px;
	padding: 3px 3px 0px 3px;
	text-align: center;
}

div.image {
	text-align: center;
	padding: 3px 0px 5px 0px;
}
div.image h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 1.4em;
	margin: 0 0 0.4em 0;
}
div.image img {
	margin-top: 8px;
}

p.small {
	color: #FFCC88;
	font-size: 0.8em;
	margin: 0 0.01em 0 0;
}

p.footer {
	text-align: right;
	font-size: 0.9em;
	padding: 4px;
	margin: 0px;
}
